/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27-nov-2013, 13:31:25
    Author     : Jose Carlos Rodríguez Palacín
*/

@media (min-width: 992px) {
    .form-horizontal .control-label[data-class='nolabel'] {
        padding-top: 0px;
    }
}

i.color{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    cursor: pointer;
}


.form-group label{
    overflow: hidden;
    text-overflow: ellipsis;
}
.form-group label.has-error{
    overflow: visible;
    text-overflow: clip;
}

.txt_normal{
    text-align: left !important;
    font-weight: normal !important;
}

.container-modal {
    position: relative;
    height: 100%;
    padding-right: 20px;
    padding-left: 20px;
}
.page-header-margin{
    margin-top: 20px;
}
.marginB10{
    margin-bottom: 10px;
}
.marginR10{
    margin-right: 10px;
}
.marginL10{
    margin-left: 10px;
}
.marginT15{
    margin-top: 15px;
}
div.dataTables_filter label {
    float: left;
}
.dataTables_filter {
    text-align: left;
}
div.dataTables_info {
    float: right;
    margin: 0;
}
div.buttonsDataTables{
    float: right;
}
.has-error, .error{
    color: #B94A48;
}
.widget.box .widget-content .widget-sub-header {
    background: none repeat scroll 0 0 #F9F9F9;
    border-bottom-color: #D9D9D9;
    line-height: 35px;
    margin-bottom: 0;
    padding: 0 11px;
    border-bottom: 1px solid #ECECEC;
    margin-bottom: 15px;
    border-top: 1px solid #ECECEC;
    margin-top: 15px;
    margin-left: -15px;
    margin-right: -15px;
}
.widget .widget-content .widget-sub-header h4 {
    color: #555555;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    margin: 0 0 7px;
    padding: 0;
}

.ico-image{
    margin-right: 20px;
}
.white{
    color: #ffffff;
}
.MY_green {
    color: #31D25B;
}
.MY_red {
    color: #d23459;
}
.MY_visor {
    border:0;
    color:#ed7a53;
    font-weight:bold;
    box-shadow:none;
}
.MY_left {
    text-align: left !important;
}
.MY_alert {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 6px;
    margin-top: 10px;
}

.drop-zone
{
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

/*propiedad experimental para acortar textos */
.text-responsive * {
    overflow-x: hidden;
    overflow-y: visible;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.knob{
    font-size: 40px !important;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.select2-container-multi .select2-choices {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.select2-container .select2-choice {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.form-horizontal .control-label{
    padding-top: 0px;
}
.form-horizontal .control-label, .form-horizontal .radio, .form-horizontal .checkbox, .form-horizontal .radio-inline, .form-horizontal .checkbox-inline{
    padding-top: 0px;
}

/* CSS to html5-upload-image plugin */
img.ghost, img.main {
    width: auto\9;
    height: auto;
    max-width: none !important;
    vertical-align: middle;
    border: 0;
    -ms-interpolation-mode: bicubic;
}
.dropzone:after {
    content: '' !important;
    font-size: 30px;
    color: #bbbbbb;
    position: absolute;
    bottom: 60%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index:0;
}
.html5-label{
    font-size: 0.8vw !important;
    text-align: center;
    width: 100%;
}

.mfp-iframe-holder .mfp-content {
    line-height: 0 !important;
    width: 100% !important;
    max-width: 1500px !important;
    height: 100% !important;
    max-height: 1024px !important;
}

/* magnific popup */
/* overlay at start */
.mfp-fade.mfp-bg {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* overlay animate in */
.mfp-fade.mfp-bg.mfp-ready {
    opacity: 0.8;
}
/* overlay animate out */
.mfp-fade.mfp-bg.mfp-removing {
    opacity: 0;
}

/* content at start */
.mfp-fade.mfp-wrap .mfp-content {
    opacity: 0;
    -webkit-transition: all 0.15s ease-out;
    -moz-transition: all 0.15s ease-out;
    transition: all 0.15s ease-out;
}
/* content animate it */
.mfp-fade.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
}
/* content animate out */
.mfp-fade.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
}

.mfp-close-btn-in .mfp-close {
    color: #ffffff !important;
    font-size: 27px !important;
}